    

        body {
            margin: 0;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           color: #333;
           background-color: antiquewhite;
      
      
    }
        .navbar{
        background-color:rgb(250, 235, 235) ;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-right: 15px;
padding-left: 10px;
        
       padding: 10px;
      
        
    }

    
    .navdiv{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .logo a{
        font-size: 60px;
        font-weight: 600px;
        color:  rgb(236, 115, 115);
        

    }
    .heading a{
         margin-right: 720px;
       float: left;
         font-size: 15px;
         
    }
    
    button{
        
        margin-left: 100px;
        border-radius: 30px;
        padding: 10px;
        width: 150px;
        background-color: #9993e9;
    
    }
    button a{
        color:black;
        font-weight:lighter;
        font-size: 15px;
        padding: 10px;
        padding-top: 100vh;
        
        
     }
     .dropdown a{
               
            margin-left: 1px;
        border-radius: 10px;
        padding: 30px;
        width: 150px;
        color:rgb(24, 19, 19);
        
     }

        .sky{
      
        text-align:right;
        
           margin-top: 0%;
           padding : 0%;
          gap: o.5rem;
          
  
        }
            
        
 

   .hero{
      
       background-color: #ffffff;
       text-align: center;
       background-image: url(https://static.wixstatic.com/media/d21930_056c6375d886426987439eaf22af3fdb~mv2.jpeg/v1/fill/w_1351,h_1080,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/d21930_056c6375d886426987439eaf22af3fdb~mv2.jpeg);
       background-size: cover;
       width: 100%;
         height: 120vh;
         
    }
    
    .container{
        display: flex;
        background-color: white;
        border-radius: 20px;
        overflow:hidden ;
        max-width: 1300px;
        margin: 10px;
        box-shadow: 0 0 10px  red;
        font: icon;
       

    }
    .image-section{
        flex: 1;
    }
    .image-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .text-section{
     flex: 0.7;
     display: flex;
     flex-direction: column;
     justify-content: center;
    padding: 40px;
    }
    .text-section h1{
        margin-bottom: 20px;
        color: #333;
    }
    .text-section p{
        font-size: 20px;
        line-height: 1.6;
        color: #bd5151;
        font-weight: lighter;
    }
    @media(max-width:768px){
        .container{
            flex-direction: column;
        }
        .text-section,.image-section{
            flex: none;
            width:100%;
        }
        .text-section{
            padding: 20px;
        }
    }
    .hero h1{
        font-size: 50px;
        margin-bottom: 10px;
        color: white;
        font-weight:lighter;
        
    }
     .hero p{
         font-size: 30px;
        max-width: 600px;
        margin: o auto;
        color: #e9f1ff;
        
        
     }
     .hero p1{
        font-size: 15px;
        color:white;
        width: 100px;
        height: 50px;
        text-align: center;
     }
     

.gallery{
    width :360px;
    height: auto;
    border-radius: 5px solid black;
    float :left;
    padding-left: 150px;
    padding-bottom: 60px;

}

img{
    width: 400px;
    height: 200px;
   
}


.vishal{
     width :340px;
     height :auto;
    border-radius: 50px solid rgb(10, 7, 7);
    float :left;
   padding-left: 80px;
    padding-bottom: 50px;
    padding-top: 50px;
}


    .form-container {
      
      padding: 30px;
      max-width: 400px;
      margin: auto;
      border-radius:800px;
      box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
      text-align: center;
      margin-bottom: 25px;
    }

    .form-group {
      margin-bottom: 25px;
    }

    .form-group label {
      display: block;
      margin-bottom: 10px;
    }

    .form-group input {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      border: 1px solid #1b1313;
      border-radius: 4px;
    }

    .submit-btn {
      width: 50%;
      padding: 15px;
      background-color: #6861cc;
      color: rgb(247, 237, 237);
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      
    }

    .submit-btn:hover {
      background-color: #6861ca;
    }
    .sher{
      text-align: center;
    }
    .vikki{

font-size:30px;
text-align: center;
padding-bottom: 20px;
    }
    .ab {
text-align: center;
font-size: 50px;
    }

    .ac{
      font-size: 20px;
      text-align: center;
    }
    .ad{
font-size: 500px;

    }
   
    